.container {
  min-height: var(--screenHeight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boxContainer1 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.innerBoxContainer {
  display: flex;
}
.profilePicture {
  display: flex;
}
.imageContainer {
  padding-right: 1rem;
}
.image {
  border-radius: 50%;
}
.verticalLine {
  border-left: 1px solid var(--primaryFontColor);
  height: 100%;
  margin: 0 2rem;
}
.description {
  width: 25vw;
}
.status {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.statusContainer {
  width: 100%;
}
.progressBar {
  height: 1.25rem;
  border: 2px solid var(--primaryFontColor);
  border-radius: 10px;
  padding: 2px;
}
.currentProgress {
  height: 100%;
  width: 57.4%;
  border-radius: 10px;
  background-color: var(--greenPrimary);
}
