.page {
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    height: fit-content;
    min-width: 100vw;
    min-height: 100%;
    overflow: auto;
    border: none;
}