.page {
	height: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--backgroundPrimary);
}

.content::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 40%;
	left: 0;
	right: 0;
	background-image: radial-gradient(
		top,
		rgb(28, 85, 57) -90%,
		rgb(1, 14, 17) 70%
	);
	z-index: -1;
}

.content {
	height: fit-content;
	max-width: 100vw;
	min-height: 100%;
	overflow: auto;
	border: none;
	z-index: 0;
}
