.navContainer {
	height: 5rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10rem;
	/* background-color: black; */
	z-index: 10;
	animation: slideDown 1s ease;
}

.logoContainer,
.menuContainer,
.contactList {
	display: flex;
	align-items: flex-end;
}

.title {
	margin-bottom: 0.5rem;
	font-size: 1.75rem;
	font-weight: 500;
	font-family: var(--incompleeta);
	background: var(--gradientGreen);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menuContainer {
	height: 100%;
}

.menuItems {
	height: 70%;
	padding: 0.5rem;
	margin: 0 1rem;
	display: inherit;
	align-items: flex-end;
	font-size: 1rem;
}

.contactList {
	padding: 0.5rem 0;
}
.contactIcons {
	margin: 0 0.5rem;
}
.menuItems:hover,
.active {
	color: white;
	border-bottom: 2px solid var(--greenPrimary);
}

.hamburgerSideNav {
	display: none;
}

.hamburgerIcon {
	cursor: pointer;
}

.sideNav {
	padding-top: 64px;
	padding-bottom: 1rem;
	position: fixed;
	pointer-events: none;
	opacity: 0%;
	top: -1%;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	transition: all 0.25s ease;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 9;
}

@media only screen and (max-width: 768px) {
	.menuContainer {
		display: none;
	}
	.hamburgerSideNav {
		display: flex;
		margin-right: 1rem;
	}
	.menuItems {
		text-align: center;
	}
}
