.content {
	width: 100%;
	min-height: var(--screenHeight);
	display: flex;
	align-items: center;
	justify-content: center;
}
.imageBox,
.descriptionBox {
	display: flex;
	justify-content: center;
}
.imageBox {
	width: 38.22%;
}
.descriptionBox {
	width: 61.77%;
}

.profileImage {
	height: 30rem;
}
