    .page {
        background-image: radial-gradient(180deg, rgba(44, 154, 128, 1) -150%, rgb(0, 0, 0) 45%, rgb(0, 0, 0) 100%);
    }
    
    .content {
        width: 100%;
        height: var(--screenHeight);
        display: flex;
        align-items: center;
    }
    
    .cardContainer {
        position: absolute;
        transform: translateX(5%);
        animation: slideRight 1s ease;
    }
    
    .title {
        font-size: 3rem;
        width: fit-content;
        background: var(--gradientGreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0.5rem;
    }
    
    .description {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .descriptionElement {
        margin: 0;
    }
    
    @media only screen and (max-width: 768px) {
        .page {
            background-image: radial-gradient(180deg, rgba(44, 154, 128, 1) -150%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 100%);
        }
        .cardContainer {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(0%);
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            animation: slideDown 1s ease;
        }
        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0 1rem;
        }
    }
    
    @media only screen and (max-width: 320px) {
        .title {
            font-size: 2.2rem;
        }
        .description {
            font-size: 1.3rem;
        }
    }
    
    @keyframes slideRight {
        from {
            opacity: 0%;
            transform: translateX(0%);
        }
        to {
            opacity: 100%;
            transform: translateX(5%);
        }
    }
    
    @keyframes slideDown {
        from {
            opacity: 0%;
            transform: translateY(-5%);
        }
        to {
            opacity: 100%;
            transform: translateY(0%);
        }
    }