* {
	margin: 0px;
	padding: 0px;
	box-sizing;: border-box
}

html {
	background: #1F2833;
	color: #66FCF1;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	height: 100vh;
	font-family: 'Shadows Into Light', cursive;
}


h1 {
	text-align: center;
	margin-top: 0;
	font-size: 10vw;
}

h1:hover {
	font-size: 11vw;
	text-decoration: underline;
	transition: 0.4s;
}

span {
	font-size: 10vw;
	font-color: #C5C6C7;
}

div {
	text-align: center;
	font-size: 60px;
	font-style: bold;
}

.pf {
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

img#Profile {
	width: 40vw;
	height: auto;
	border: 10px solid #48A684;
	border-radius: 400px;
}

p#quote {
	border: 5px solid #FFBF00;
	width: 90vw;
	font-size: 8vw;
	border-style: outset;
	margin-left: auto;
	margin-right: auto;

}

a{
  text-decoration: none;
  color: #fff;
}

.text{
  position: relative;
}

.text:after{
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: -4px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}
 
.text:hover:after{
  width: 100%;
  left: 0;
  background: #fff;
}


.animation{
	padding: 10px;
	transition: 0.4s;

}
.animation:hover {
	padding: 30px;
	transition: 0.4S;


}



