* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	background: #222;
	color: #eeeeee;
	width: 100vw;
	height: 100vh;
	font-family: 'Zilla Slab', serif;
}


.header {
	padding-top: 2rem;
	text-align: center;
	font-size: 10vw;
	margin-bottom: 30px;
}

.clock {
	display: flex;
	width: 90vw; 
	text-align: center;
	justify-content: center;
	padding-top: 50px;
	color: #eeeeee;
}

.flip-clock-divider {
	font-size: 3vw;
	display: flex;
	width: 100vw;
	text-align: center;
	justify-content: space-between;
}

.flip-clock-dot {
	color: #eeeeee;
}



